*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #D4D4D4;
	font-family: 'Open sans';
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
	font-weight: bold;
	font-style: italic;
}

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.wrap{
	width: 1500px;
	max-width: 90%;
	margin: 30px auto;
}

ul.tabs{
	width: 100%;
	background: #363636;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 30%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background: #0984CC;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: #fff;
	height: 100%;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: left;
}

@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}

/* Aquí está el menudown de stake*/ 
  
  .selectstakeholders select {
	background-color: #8400ff;
	color: white;
	padding: 12px;
	width:24%;
	border: none;
	font-size: 20px;
	box-shadow: 0 10px px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
  }
  
  .selectstakeholders::before {
	content: "\f13a";
	font-family: FontAwesome;
	position: absolute;
	top: 24,3%;
	left: 24.2%;
	width: 3.5%;
	height: 8%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
  }
  
  .selectstakeholders:hover::before {
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(255, 255, 255, 0.2);
  }
  
  .selectstakeholders select option {
	padding: 30px;
  }

  /* Aquí está el menudown de accion stake*/ 

  .selectaccionstakeholders select {
	background-color: #8400ff;
	color: white;
	padding: 12px;
	width:24%;
	border: none;
	font-size: 20px;
	box-shadow: 0 10px px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
  }
  
  .selectaccionstakeholders::before {
	content: "\f13a";
	font-family: FontAwesome;
	position: absolute;
	top: 24,3%;
	left: 24.2%;
	width: 3.5%;
	height: 8%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
  }
  
  .selectaccionstakeholders:hover::before {
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(255, 255, 255, 0.2);
  }
  
  .selecacciontstakeholders select option {
	padding: 30px;
  }

/* Aquí está el menudown de contrato*/ 

  .selectaccioncontrato select {
	background-color: #8400ff;
	color: white;
	padding: 12px;
	width:24%;
	border: none;
	font-size: 20px;
	box-shadow: 0 10px px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
  }
  
  .selectaccioncontrato::before {
	content: "\f13a";
	font-family: FontAwesome;
	position: absolute;
	top: 24.3%;
	left: 24.2%;
	width: 3.5%;
	height: 8%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
  }
  
  .selectaccioncontrato:hover::before {
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(255, 255, 255, 0.2);
  }
  
  .selectaccioncontrato select option {
	padding: 30px;
  }

  /*BOTONES STAKEHOLDERS */

.cancelarstakeh {
	box-shadow:inset 0px 1px 0px 0px #8400ff;
	background:linear-gradient(to bottom, #8400ff 5%, #8400ff 100%);
	border:1px solid #8400ff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.cancelarstakeh:hover {
	background:linear-gradient(to bottom, #8400ff 5%, #8400ff 100%);
	background-color:#8400ff;
}
.cancelarstakeh:active {
	position:relative;
	top:1px;
}

.aceptarstakeh {
	box-shadow:inset 0px 1px 0px 0px #8400ff;
	background:linear-gradient(to bottom, #8400ff 5%, #8400ff 100%);
	background-color:#8400ff;
	border:1px solid #8400ff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.aceptarstakeh:hover {
	background:linear-gradient(to bottom, #8400ff 5%, #8400ff 100%);
	background-color:#5972a7;
}
.aceptarstakeh:active {
	position:relative;
	top:1px;
}

.divstakeh {
	background-color: #0984CC;
	height: 80%;
	width: 100%;
}

/*DIV DE STAKEHOLDERS*/

.idstakeh {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	margin-left: 41.95%;
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .nombrestakeh {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	margin-left: 38%;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .direccionstakeh {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	margin-left: 36.6%;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .telefonostakeh {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	margin-left: 36.95%;
	border: 1px solid #b7b7b7;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .generostakeh {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	margin-left: 38.3%;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .pastakeh {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	margin-left: 35.05%;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .buscacont{
	box-shadow:inset 0px 1px 0px 0px #0984CC;
	background:linear-gradient(to bottom, #0984CC 5%, #0984CC 100%);
	border:1px solid #0984CC;
	display:inline-block;
	cursor:pointer;
	color:rgb(255, 255, 255);
	font-family:Arial;
	margin-left:21%;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  }


/*DIV CONTRA*/

.idcont {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	margin-left: 42%;
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .nombrecont {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	margin-left: 38%;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .fechanaccont {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	margin-left: 29.35%;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .telefonocont {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	margin-left: 36.95%;
	border: 1px solid #b7b7b7;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .generocont {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	margin-left: 38.3%;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
.epscont {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	margin-left: 3%;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

.codips {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	margin-left: 1%;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

.contracont {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	margin-left: 35.05%;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .buscarstakh{
	box-shadow:inset 0px 1px 0px 0px rgb(177, 177, 177);
	background:linear-gradient(to bottom, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 100%);
	border:1px solid rgb(204, 204, 204);
	display:inline-block;
	cursor:pointer;
	color:#0984CC;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  }

  .eliminarstakh{
	box-shadow:inset 0px 1px 0px 0px rgb(177, 177, 177);
	background:linear-gradient(to bottom, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 100%);
	border:1px solid rgb(204, 204, 204);
	display:inline-block;
	cursor:pointer;
	color:#0984CC;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  }

  .aceptarstakh{
	box-shadow:inset 0px 1px 0px 0px rgb(177, 177, 177);
	background:linear-gradient(to bottom, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 100%);
	border:1px solid rgb(204, 204, 204);
	display:inline-block;
	cursor:pointer;
	color:#0984CC;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  }

  
/* Aquí está el menudown de contratos*/ 

  .selectcont select {
	background-color: #0984CC;
	color: white;
	padding: 12px;
	width:24%;
	border: none;
	font-size: 20px;
	box-shadow: 0 10px px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
  }
  
  .selectcont::before {
	content: "\f13a";
	font-family: FontAwesome;
	position: absolute;
	top: 24,3%;
	left: 24.2%;
	width: 3.5%;
	height: 8%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
  }
  
  .selectcont:hover::before {
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(255, 255, 255, 0.2);
  }
  
  .selectcont select option {
	padding: 30px;
  }

 /*Aquí está el código contrato*/
 .codcont {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	margin-left: 30%;
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
.codips {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	margin-left: 28.55%;
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  /* Aquí está el menudown de citas médicas*/ 

  .selectmedico select {
	background-color: #0984CC;
	color: white;
	padding: 12px;
	width:24%;
	border: none;
	font-size: 20px;
	box-shadow: 0 10px px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
  }
  
  .selectmedico::before {
	content: "\f13a";
	font-family: FontAwesome;
	position: absolute;
	top: 24,3%;
	left: 24.2%;
	width: 3.5%;
	height: 8%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
  }
  
  .selectmedico:hover::before {
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(255, 255, 255, 0.2);
  }
  
  .selectmedico select option {
	padding: 30px;
  }	

/* Aquí está el menudown de horas médicos*/ 
  
  .selecthora select {
	background-color: #0984CC;
	color: white;
	padding: 12px;
	width:24%;
	border: none;
	font-size: 20px;
	box-shadow: 0 10px px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
  }
  
  .selecthora::before {
	content: "\f13a";
	font-family: FontAwesome;
	position: absolute;
	top: 24,3%;
	left: 24.2%;
	width: 3.5%;
	height: 8%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
  }
  
  .selecthora:hover::before {
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(255, 255, 255, 0.2);
  }
  
  .selecthora select option {
	padding: 30px;
  }


  .agendacita{
	box-shadow:inset 0px 1px 0px 0px #0984CC;
	background:linear-gradient(to bottom, #0984CC 5%, #0984CC 100%);
	border:1px solid #0984CC;
	display:inline-block;
	cursor:pointer;
	position: absolute;
	margin-left: 1%;
	width: 10%;
	height: 6.3%;
	color:rgb(255, 255, 255);
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  }

  /*DIV DE INFORMACIÓN*/

.idinfo {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	margin-left: 41.9%;
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .nombreinfo {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	margin-left: 38%;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .fechanacinfo {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	margin-left: 29.45%;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .telefonoinfo {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	margin-left: 36.95%;
	border: 1px solid #b7b7b7;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .generoinfo {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	margin-left: 38.3%;
	font: normal 16px/normal Georgia, serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

    /*GESTIÓN DE INFORMACIÓN PERSONAL*/

	.divinfo {
		background-color: #0984CC;
		height: 80%;
		width: 100%;
	}
